$custom-control-indicator-size:  0;

// @import 'bootstrap';
// @import 'bootstrap/scss/bootstrap.scss';
@import './font-awesome/css/all.min.css';
@import './variable.scss';

@font-face {
    font-family: Poppins-Regular;
    src: url(./fonts/Poppins-Regular.ttf)
}

@font-face {
    font-family: Poppins-Medium;
    src: url(./fonts/Poppins-Medium.ttf)
}

@font-face {
    font-family: Poppins-Bold;
    src: url(./fonts/Poppins-Bold.ttf)
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(./fonts/Poppins-SemiBold.ttf)
}
// @import 'bootstrap-vue/src/index.scss';
// @import 'bootstrap-vue';
// @import 'node_modules/bootstrap-vue/src/index.scss';
.h-100 {
    height: 100%!important;
}
.txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #666
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    text-transform: uppercase
}

.bg1 {
    background-color: #3b5998
}

.bg2 {
    background-color: #1da1f2
}

.bg3 {
    background-color: #ea4335
}

.bg1:hover {
    background-color: #274c9c!important
}

.bg2:hover {
    background-color: #1093e4!important
}

.bg3:hover {
    background-color: #e92f1e!important
}

.limiter {
    width: 100%;
    margin: 0 auto
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(@/assets/images/banners/bg-01.jpg);
}

.wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden
}

.login100-form {
    width: 100%
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    padding-left: 7px
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 50px;
    background: 0 0;
    padding: 0 7px 0 43px
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}

.focus-input100::after {
    content: attr(data-symbol);
    font-family: Material-Design-Iconic-Font;
    color: #adadad;
    font-size: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.input100:focus+.focus-input100::before {
    width: 100%
}

.has-val.input100+.focus-input100::before {
    width: 100%
}

.input100:focus+.focus-input100::after {
    color: #a64bf4
}

.has-val.input100+.focus-input100::after {
    color: #a64bf4
}

.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0 rgba(3, 216, 222, .2);
    -moz-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, .2);
    -webkit-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, .2);
    -o-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, .2);
    -ms-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, .2)
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    top: 0;
    left: -100%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0
}

.validate-input {
    position: relative
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    bottom: calc((100% - 20px)/2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    bottom: calc((100% - 20px)/2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 8px
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1
}

@media(max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1
    }
}

.login100-social-item {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px
}

.login100-social-item:hover {
    color: #fff;
    background-color: #333
}

.p-r-55 {
    padding-right: 55px;
}

.p-l-55 {
    padding-left: 55px;
}

.p-b-54 {
    padding-bottom: 54px;
}

.p-t-65 {
    padding-top: 65px;
}

.login100-form {
    width: 100%;
}

.p-b-49 {
    padding-bottom: 49px;
}

.m-b-23 {
    margin-bottom: 23px;
}

.p-b-31 {
    padding-bottom: 31px;
}

.p-t-8 {
    padding-top: 8px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-t-54 {
    padding-top: 54px;
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}

.flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.p-t-155 {
    padding-top: 155px;
}

@media(max-width: 576px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px
    }
}
.product__price--percent {
    background: url(/src/assets/images/icons/logo.svg) 50% no-repeat;
    height: 31px;
    left: -5px;
    position: absolute;
    top: 2px;
    width: 80px;
}

.product__price--percent-detail {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0 0;
    text-align: center;
    width: 100%;
}

.sticker-left {
    right: -18px;
    text-align: left;
}

.sticker {
    position: absolute;
    top: -26px;
    display: flex;
    flex-direction: column;
}

.sticker span {
    display: block;
}

.product-price {
    color: #d70018;
    display: inline-block;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px!important;
}

.c-while {
    color: white!important;
}

.btn-cart {
    font-weight: 600;
    text-transform: uppercase;
    height: 60px;
    background-color: $main-color;
    cursor: pointer;
    border-color: #dc3545;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.btn-cart:hover {
    color: #fff!important;
    background-color: $main-color-hover!important;
}

.btn-cart-add-more {
    font-weight: 600;
    text-transform: uppercase;
    height: 60px;
    cursor: pointer;
    border: 1px solid #dc3545;
    color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.btn-cart-add-more:hover {
    background-color: $main-color;
    color: #fff;
}

.box-card {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
}

.color-default {
    color: $main-color;
}

.bg-default {
    background: $main-color;
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.brand-banner .title a {
    color: #444;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

.brand-banner .brand-banner__content {
    display: flex;
    flex-wrap: wrap;
}

.brand-banner .brand-banner__content .brand-banner__item:not(:nth-of-type(4n)) {
    margin-right: 15px;
}
.brand-banner .brand-banner__content .brand-banner__item {
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
    display: inline-block;
    margin-bottom: 15px;
    overflow: hidden;
    width: calc(25% - 11.25px);
}
.brand-banner .brand-banner__content .brand-banner__item .brand-banner__img {
    border-radius: 10px;
    float: left;
}

.vue-tempalte,
.vertical-center {
    width: 100%;
    height: 100%;
}

.navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
}

.inner-block {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.vertical-center .form-control:focus {
    border-color: #2554FF;
    box-shadow: none;
}

.vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

label {
    font-weight: 500;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7a7a7a;
    margin: 0;
}

.forgot-password a {
    color: #2554FF;
}

.social-icons {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.5em;
    color: #222222;
}

.social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons ul li {
    display: inline-block;
    zoom: 1;
    width: 65px;
    vertical-align: middle;
    border: 1px solid #e3e8f9;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    background: #f4f6ff;
}

.social-icons ul li a {
    display: block;
    font-size: 1.4em;
    margin: 0 5px;
    text-decoration: none;
}

.social-icons ul li a i {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.social-icons ul li a:focus i,
.social-icons ul li a:active i {
    transition: none;
    color: #222222;
}

.text-info {
    color: #4794e7!important;
}
// $base-color: #036;
// @for $i from 1 through 3 {
//     ul:nth-child(3n + #{$i}) {
//       background-color: lighten($base-color, $i * 5%);
//     }
// }

$sizes: 10, 20, 30;

@each $size in $sizes {
  .margin-#{$size} {
    margin: $size + px;
  }
}

.block-hot-sale {
    border-radius: 10px;
    margin: 0 0 15px;
    min-height: 350px;
    padding: 2px;
    background: linear-gradient(rgb(255, 211, 145), rgb(255, 211, 145)) 0% 0% / cover;
}

.block-hot-sale .box-title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 8px 0;
    width: 100%;
}

.block-hot-sale .box-title .box-tab-menu {
    padding: 8px 0 0 8px;
}

.block-hot-sale .box-title .box-tab-menu .box-tab-item {
    background-color: rgb(198, 10, 9);
    border-radius: 7px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 4px 10px;
}

.block-hot-sale .box-title .box-countdown {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.block-hot-sale .box-title .box-countdown .box-time {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.block-hot-sale .box-title .box-countdown .box-time li {
    color: rgb(198, 10, 9);
    display: flex;
    float: left;
    font-size: 14px;
    font-weight: 700;
    list-style-type: none;
    text-transform: uppercase;
}

.block-hot-sale .box-title .box-countdown .box-time li .time {
    background: #fff;
    border-radius: 3px;
    color: rgb(198, 10, 9);
    font-size: 14px;
    font-weight: 700;
    height: 25px;
    padding: 2px 5px;
    text-align: center;
    width: 25px;
}

.block-hot-sale .box-title .box-countdown .box-time li .separate {
    line-height: 26px;
    margin: 0 5px;
}

.swiper-container {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}

.text-c-red {
    color: rgb(198, 10, 9)!important;
}

.content-page-shop h2 {
    text-align: center;
    color: #000;
}

.content-page-shop {
    max-height: 630px;
    overflow: hidden;
    transition:  0.3s ;
    img{
        width: 100%!important;
    }
}
  
.show-all {
    max-height: none;
}

.toggle-button {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}

.config {
    color:#009a82;
}

.text-dark-1 {
    color:#000;
}

.text-config {
    vertical-align: baseline;
}

.btn-config {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    background: #fdfdfe 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 10px;
    padding: 2px 50px;
    font-size: 15px;
    color: #191919;
}

.is-flex {
    display: flex!important;
}

.boxReview .boxReview-review {
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    height: 160px;
    overflow: hidden;
}
.is-align-items-center {
    align-items: center!important;
}

.is-justify-content-center {
    justify-content: center!important;
}

.boxReview .boxReview-review .boxReview-score {
    border-left: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
    flex-direction: column;
    width: 40%;
}
.title.is-4 {
    font-size: 1.5rem;
}
.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.boxReview .boxReview-review .boxReview-score .is-active {
    fill: #f59e0b;
}
.boxReview .boxReview-review .boxReview-score .icon {
    width: 20px;
}
.is-justify-content-space-evenly {
    justify-content: space-evenly!important;
}
.boxReview .boxReview-review .boxReview-star {
    flex-direction: column;
    width: 60%;
}
.boxReview .boxReview-review .boxReview-star progress {
    border-radius: 5px;
    height: 8px;
    max-width: 70%;
}
.boxReview .boxReview-review .boxReview-star div span:last-child {
    width: 70px;
}
.boxReview .progress {
    background-color: #d7000e;
    color: #d7000e;
    width: 100%;
}
.subtitle {
    color: #4a4a4a;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}
.subtitle.is-6 {
    font-size: 1rem;
}
.has-text-centered {
    text-align: center!important;
}
.boxReview .button {
    background-color: #d7000e;
    border-radius: 10px;
    height: 35px;
    text-align: center;
    width: 300px;
    color: white;
    border: #d7000e;
}
.has-text-weight-bold {
    margin-right: 5px;
}
.boxReview .boxReview-review .boxReview-star div .is-active {
    fill: #f59e0b;
    margin-left: 2px;
    width: 13px;
}
.is-size-7 {
    color: #000;
    font-weight: 500;
}
.translate-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#chat2 .form-control {
    border-color: transparent;
}
    
#chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}
    
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.chat {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}
.ps {
    --mdb-scrollbar-rail-x-y-transition-opacity-bg: background-color 0.2s linear,opacity 0.2s linear;
    --mdb-scrollbar-z-index: 1035;
    --mdb-scrollbar-rail-x-y-length: 0.9375rem;
    --mdb-scrollbar-rail-x-y-opacity: 0.6;
    --mdb-scrollbar-rail-x-y-hover-opacity: 0.9;
    --mdb-scrollbar-rail-x-y-bg-color: #eee;
    --mdb-scrollbar-rail-x-y-clicking: #999;
    --mdb-scrollbar-rail-x-y-clicking-length: 0.6875rem;
    --mdb-scrollbar-rail-x-transition-height-bg: background-color 0.2s linear,height 0.2s ease-in-out;
    --mdb-scrollbar-rail-y-transition-width-bg: background-color 0.2s linear,width 0.2s ease-in-out;
    --mdb-scrollbar-thumb-x-y-color: #aaa;
    --mdb-scrollbar-thumb-x-y-border-radius: 0.375rem;
    --mdb-scrollbar-thumb-x-y-length: 0.375rem;
    --mdb-scrollbar-thumb-x-y-position-length: 0.125rem;
    overflow: hidden!important;
    overflow-anchor: none;
    touch-action: auto;
}
.chat-body {
    position: relative;
    height: 400px;
    overflow-x: auto;
}
.chat-body::-webkit-scrollbar {
    width: 10px;
}
.chat-body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #FB2323;
    transition: 0.5s;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.chat-body::-webkit-scrollbar-thumb:hover {
    border-radius: 12px;
    background: #9c0505;
    transition: 0.5s;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.chat-body::-webkit-scrollbar-track {
    background: #E8E8E8;
    border-radius: 0px;
}
.icon-chat {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: circleFill 1s infinite ease-in-out;
    -webkit-animation: circleFill 1s infinite ease-in-out;
}
.cursor-pointer {
    cursor: pointer;
}
.close-chat {
    cursor: pointer;
}
.close-chat:hover {
    color: #3b8af3;
}
.btn-chat {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-shadow: 0 0 0 0 #2196f3;
    background-color: rgba(33, 150, 243, 0.7)!important;
    color: white;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: zoom 1.3s infinite;
    animation: zoom 1.3s infinite;
}
.cs-400{
    width: 400px;
}

@keyframes zoom {
    0% {
        transform: scale(.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px transparent;
    }
    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 transparent;
    }
}

@keyframes circleFill {
    0% {
        -webkit-transform: rotate(0) scale(1) skew( 1deg);
    }
    10% {
        -webkit-transform: rotate( -25deg) scale(1) skew( 1deg);
    }
    20% {
        -webkit-transform: rotate( 25deg) scale(1) skew( 1deg);
    }
    30% {
        -webkit-transform: rotate( -25deg) scale(1) skew( 1deg);
    }
    40% {
        -webkit-transform: rotate( 25deg) scale(1) skew( 1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew( 1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew( 1deg);
    }
}

.sp-online {
    right: 0px;
    top: -6px;
    border: 1px solid white!important;
}
.it-sp:hover span {
    color: #f34f4f !important;;
}

.ctext-wrap-primary:after {
    border-color: transparent;
    border-left-color: #5e75e6!important;
    border-top-color: #5e75e6!important;
    right: -10px;
    left: auto;
    z-index: -1;
}

#tra-cuu-don-hang .box-tra-cuu {
    background-color: #f5f5f5;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 800px;
    overflow: hidden;
    position: relative;
}

#tra-cuu-don-hang .box-tra-cuu .box-search-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 0 20px;
    text-align: right;
    width: 60%;
}

#tra-cuu-don-hang .box-tra-cuu .box-search-info {
    margin-left: auto;
    padding: 0 20px;
    width: 50%;
}

.is-flex {
    display: flex!important;
}

.is-align-items-center {
    align-items: center!important;
}
.is-justify-content-center {
    justify-content: center!important;
}
.is-flex-direction-column {
    flex-direction: column!important;
}

#tra-cuu-don-hang .box-tra-cuu .bg-image {
    left: 40px;
    position: absolute;
    top: 20px;
}

#tra-cuu-don-hang .box-tra-cuu .bg-image img {
    height: 200px;
}

#tra-cuu-don-hang .box-tra-cuu .bg-order-check {
    background: linear-gradient(to bottom right,#fd2424 37%,#f5f5f5 70%);
    height: 800px;
    left: -571px;
    opacity: .6;
    position: absolute;
    top: -300px;
    transform: rotate(55deg);
    width: 800px;
    z-index: 0;
}

#tra-cuu-don-hang .box-tra-cuu .box-search-info .field {
    margin-top: 10px;
    position: relative;
    width: 100%;
}

#tra-cuu-don-hang .box-tra-cuu .box-search-info .box-search-item {
    -webkit-appearance: none;
    border: none;
}

#tra-cuu-don-hang .box-tra-cuu .box-search-info .field input {
    border: 1px solid #fafafa;
    border-radius: 5px;
    box-sizing: border-box;
    color: #222;
    font-size: 14px;
    line-height: 40px;
    padding: 0 15px;
    width: 100%;
}

#tra-cuu-don-hang .box-tra-cuu .box-search-info .button {
    background-color: #fd2424;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 180px;
}

#tra-cuu-don-hang .box-tra-cuu .box-search-info .line-through {
    width: 100%;
}

#tra-cuu-don-hang .smember-link {
    background-color: #fd2424;
    border-radius: 8px;
    color: #fff;
    display: block;
    margin: 0 auto;
    min-width: 320px;
    padding: 8px 20px;
    text-align: center;
    width: 50%;
}